<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">


    <!-- atomitos事务管理器 强制执行事务回滚-->
    <bean id="atomitosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager"
          init-method="init" destroy-method="close">
        <property name="forceShutdown" value="true"/>
    </bean>

    <!-- atomitos事务执行的超时时间-->
    <bean id="atomikosTransaction" class="com.atomikos.icatch.jta.UserTransactionImp">
        <property name="transactionTimeout" value="600"/>
    </bean>

    <!-- Spring JTA事务管理器-->
    <bean id="springJTATransactionManager"
          class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="transactionManager" ref="atomitosTransactionManager"/>
        <property name="userTransaction" ref="atomikosTransaction"/>
        <property name="allowCustomIsolationLevels" value="true"/>
        <!--<property name="globalRollbackOnParticipationFailure" value="true"/>-->
    </bean>

    <tx:annotation-driven transaction-manager="springJTATransactionManager"/>

    <!-- 开启事务注解扫描-->
    <context:component-scan base-package="com.tecsun.card.service">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- AOP切面-->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
</beans>